@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = @L["Forgot password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @L["Please check your email to reset your password."]
</p>