
<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column py-1" style="max-height:100vh; overflow:auto;">
         <img src="@Cert.ImagePath" style="height: auto; max-width: 100%;
                 height:100%;" />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Cancel">Ok</MudButton>
    </DialogActions>
</MudDialog>