
<MudDialogProvider />
<MudSnackbarProvider />
<MudThemeProvider Theme="currentTheme" />
<MudLayout>


    <MudAppBar Dense="true">
        <MudSpacer />
        <CultureSelector />
        <ThemeToggle />
    </MudAppBar>
    <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
        <div class="d-flex flex-column mud-width-full">

            <MudPaper Elevation="25" Class="pa-7" Width="100%" MaxWidth="500px">
                @Body
            </MudPaper>
        </div>
    </MudContainer>
</MudLayout>
