<MudContainer>
    <h1>@L["Sorry, there's nothing at this address."]</h1>
    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@GoHome">@L["Back to main site"]</MudButton>
</MudContainer>