@model CultureSwitcherModel
<div>
    <form id="culture-switcher">
        @* <select name="culture" id="culture-options">

            @foreach (var culture in Model.SupportedCultures)
            {
            <option value="@culture.Name" selected="@(Model.CurrentUICulture.Name == culture.Name)">@culture.DisplayName</option>
            }
            </select>*@
        <div class="form-check form-switch" onclick="myLanguage()">
            <input type="checkbox" class="form-check-input" id="culture-options">
            <label value="" id="language" class="custom-control-label" for="culture-options" onclick="myLanguage()"></label>
        </div>
    </form>
</div>



<script>

    function myLanguage() {
        var label=document.getElementById("language").value;
        var language=document.getElementById("culture-options");
        document.getElementById("culture-options").addEventListener("change", () => {
            
            document.getElementById("culture-switcher").submit();
        });}

</script>
