@page "/user/account"
<MudItem Class="d-flex justify-space-between">
    <MudItem xs="12" sm="4" md="3" >
        <MudCard>
            <MudCardContent>
                <div class="d-flex justify-center mb-4">
                    <MudAvatar Image="@CurrentUser?.PhotoPath" Style="height:100px; width:100px;">
                        @if (AvatarImageLink == null)
                        {
                            <MudIcon Icon="@AvatarIcon" Size="Size.Large"></MudIcon>
                        }
                    </MudAvatar>
                </div>
                <MudText Align="Align.Center">@CurrentUser?.FirstName @CurrentUser?.LastName</MudText>
                <MudText Align="Align.Center">@CurrentUser?.JobTitle</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="8" md="8">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Profile Details</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                
            </MudCardContent>
            <MudCardActions Class="pb-4 pl-4">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="@(() => SaveChanges("Profile details saved", Severity.Success))">Save Changes</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    </MudItem>