@page "/admin/dashboard"
<AuthorizeView Roles="Admin">
    <Authorized>
        <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">@L["admindashboard"]</MudText>
        <MudTabs Elevation="1" Rounded="true" PanelClass="mt-6">
            <MudTabPanel Text=@L["Users"]>
                <AdminPeopleList />
            </MudTabPanel>
            <MudTabPanel Text=@L["Administration"]><Administration /></MudTabPanel>
            <MudTabPanel Text=@L["Departments"]>
                <AdminDepartmentList />
            </MudTabPanel>
            <MudTabPanel Text=@L["Statistics"] Icon="@Icons.Material.Filled.Portrait">
            </MudTabPanel>
            <MudTabPanel Text=@L["Categories"]><AdminCategoryList /></MudTabPanel>
            <MudTabPanel Text=@L["Questions"]><AdminQuestionList /></MudTabPanel>
            <MudTabPanel Text=@L["Cards"]><AdminCards /></MudTabPanel>
        </MudTabs>
    </Authorized>
    <NotAuthorized>
        <p>@L["You're not loggged in as Admin."]</p>
    </NotAuthorized>
</AuthorizeView>